body{
    background: #D6DED1;
    display: flex;
}


p{
    
font-family: sans-serif;
font-style: normal;
font-weight: 690;
font-size: 40px;
line-height: 42px;
width: 413px;
height: 173px;
color: #FFFFFF;
margin-left: 50px;

}
.header{
position: absolute;
width: 1920px;
height: 220px;
left: 0px;
top: 0px;

background: #7C9A92;
}

h1{

position: absolute;
width: 906px;
height: 153px;
left: 27%;
top: 60px;


font-family: sans-serif;
font-style: normal;
font-weight: 700px;
font-size: 100px;
line-height: 1px;
text-align: center;

color: #E1E9DB;
}

.image{
   position: absolute;
width: 550px;
height: 404.14px;
left: 42px;
top: 289px;
border-radius: 33px;


}
.image1{
position: absolute;
width: 550px;
height: 407.37px;
left: 1292px;
top: 594px;


border-radius: 33px;
}
.back{
position:absolute;
width: 595px;
height: 449px;
left: 20px;
top: 270px;

background: #7C9A92;
border-radius: 22px;
}
.back1{
    position: absolute;
width: 606px;
height: 456px;
left: 1265px;
top: 571px;

background: #7C9A92;
border-radius: 22px;
}
.txt{
    position: absolute;
    width: 485px;
    height: 202px;
    left: 580px;
    top: 287px;
    transform: translateX(-93%);
    background: #7C9A92;
    
    
}
.txt::after{
    width: 202px;
    content: '?';
    background-color: #ffffff;
    text-align: center;
    border-radius: 0 0 8px 8px;
    padding: 5px 0;
    position: absolute;
    left: 485px;
    transform: rotate(-90deg);
    transform-origin: 0 0 ;
    bottom: -28px;
}
.txt:hover{
    transform: translateX(0);
    transition: all 1s ease-out;
}

.txt1{
    position: absolute;
    width: 485px;
    height: 202px;
    left: 1260px;
    top: 600px;
    transform: translateX(1%);
    background: #7C9A92;
    
    
}
.txt1::after{
    width: 202px;
    content: '?';
    background-color: #ffffff;
    text-align: center;
    border-radius: 0 0 8px 8px;
    padding: 5px 0;
    position: absolute;
    left: -0px;
    transform: rotate(90deg);
    transform-origin: 0 0 ;
    bottom: 174px;
}
.txt1:hover{
    transform: translateX(-90%);
    transition: all 1s ease-out;
}
.vector1{
    position: absolute;
    width: 625px;
    height: 240px;
    left: 0px;
    top: 834px;
    
}
.vector{
    position: absolute;
width: 349px;
height: 206px;
left: 1631px;
top: 190px;


}
.headerbutton{
    position: absolute;
width: 193px;
height: 80px;
left: 200px;
top: 85px;


background: #E1E9DB;
border-radius: 40px;
}
.buttontext{
    position: absolute;
    color:#7C9A92;
    font-size: 28px;
    margin-top: -20px;
    margin-left: -117px;
}
.headerbutton1{
    position: absolute;
width: 193px;
height: 80px;
left: 1490px;
top: 85px;

background: #E1E9DB;
border-radius: 40px;
}